<% provide(:title, "Покупка недвижимости") %>
<h1>Покупка недвижимости</h1>
<h2>Информация для тех, кто хочет самостоятельно купить себе недвижимость без услуг риэлтора.</h2>
<div class="border-top border-bottom">
  <h3>1. Подбор и осмотр объекта</h3>
  <p>
    Выбор места будущего места жительства сугубо индивидуальный.
    Тот или иной район, квартал либо улица - уникален.
  </p>
  <p>
    Если Ваша цель – временное жилье (не более 5 лет), то выбирайте то, что потом будет выгодно продать.
  </p>
  <p>
    По возможности избегайте откровенно старых домов, такие, во-первых,
    требуют ухода и вложений, а во-вторых в дальнейшем будет сложнее продать.
  </p>
  <p>
    Квартиры в новостройках, если не брать в расчет покупку строящегося жилья,
    это риск жить несколько лет в режиме ремонта. Свой Вы можете сделать быстро, а вот соседи вокруг
    могут затянуть ремонт на долгие годы. Плюс дом дает усадку и идеально уложенная плитка или
    отштукатуренные стены могут дать трещины.
    Не всегда и не все, но это стоит учитывать.
  </p>
  <p><u><%= link_to "Подробнее об осмотре объекта", inspection_object_path, {:class => 'me-3 py-2 text-dark'} %></u></p>
</div>
<div class="border-bottom">
    <h3>2. Проверка объекта и продавца</h3>
  <p>Вам понравился объект, договорились по цене с продавцом,
    настало время проверить объект и продавца.
  </p>

  <p>Некоторые банки предлагают эту проверку как услугу за
    отдельную плату, однако они все равно ее делают, заплатите Вы за нее или нет,
    т.к. банк не будет брать проблемный объект себе в залог.
  </p>

  <p>Поэтому если Вы покупаете квартиру в ипотеку – можете пропустить
    этот шаг, за Вас все сделает банк.
  </p>

  <p>Если Вы приобретаете недвижимость самостоятельно без участия
    банка, или Вы не доверяете банку в этих отношениях, то можете произвести эти
    операции самостоятельно.
  </p>
  <p><u><%= link_to "Подробнее о проверке объекта", checking_object_path, {:class => 'me-3 py-2 text-dark'} %></u></p>
  <p>Параллельно с проверкой объекта стоит проверять и
    собственника недвижимости. Если собственников несколько, то проверять
    необходимо всех!</p>

  <p>Сделать это можно с помощью следующих сайтов</p>
  <us>
    <div class="list-group list-group-flush">
      <a
        href="https://bankrot.fedresurs.ru/DebtorsSearch.aspx?attempt=2" class="list-group-item list-group-item-action ">Проверка на банкротство</a>

      <a
        href="https://kad.arbitr.ru/" class="list-group-item list-group-item-action">Проверка на сайте арбитражных дел</a>

      <a
        href="http://services.fms.gov.ru/info-service.htm?sid=2000" class="list-group-item list-group-item-action">Проверка
        действительности российского паспорта</a>

      <a
        href="https://fssp.gov.ru/iss/ip" class="list-group-item list-group-item-action">Проверка на сайте судебных приставов</a>
    </div>
  </us>
  <p><u><%= link_to "Подробнее о проверке продавца", checking_seller_path, {:class => 'me-3 py-2 text-dark'} %></u></p>
</div>
<div class="border-bottom">
  <h3>3. Предварительный договор купли-продажи и задаток</h3>
  <p>
    На этом этапе все участники сделки взаимно проверены и пора
    «ударить по рукам».
  </p>

  <p>
    Этим «ударом» как раз служит предварительный договор
    купли-продажи (далее ДКП). В нем отображается сумма задатка (не путать с
    первоначальным взносом), все отношения - когда будут совершены те или иные
    действия (снятия с регистрации зарегистрированных, передача ключей, примерные
    даты сделки), будут описана вся техника и мебель, которая останется в квартире.
    На словах можно пообещать съехать или выписаться в течение месяца, а в итоге
    тянуть полгода. Или обещать оставить ту или иную технику, но при передаче
    ключей квартира будет с голыми стенами. Сейчас именно тот момент, где надо расставить
    все точки над i
  </p>
  <p><u><%= link_to "Подробнее о предварительном договоре купли-продажи", pre_sales_contract_path, {:class => 'me-3 py-2 text-dark'} %></u></p>
</div>
<div>
  <h3>4. Договор купли-продажи и регистрационная палата</h3>
  <p>Финальная часть любой истории при покупке или продаже квартиры.</p>

  <p>Если сделка проходит с использованием ипотеки, то ДКП
    подготовит банк, если сделку проводите без участия банка, то шаблон ДКП можно
    скачать <%= link_to "здесь.", "https://disk.yandex.ru/i/NALQjPvGq4V9sQ", {:class => 'text-decoration-underline me-3 py-2 text-dark'} %></p>

  <p>Заполните и ознакомьтесь с договором. Лучше заранее все
    изучить, чтобы в день сделки не было сюрпризов. </p>

  <p>Напоминаем, что все платежи желательно делать через банк,
    чтобы оставить цифровой след сделки. В любом случае, после передачи денег также
    необходимо подписать <%= link_to "расписку о передаче денег.", "https://disk.yandex.ru/i/IuaXijaAGmQG9g", {:class => 'text-decoration-underline me-3 py-2 text-dark'} %></p>

  <p>Передача ключей, как правило, происходит после регистрации
    сделки в регистрационной палате. Однако на усмотрение
    продавца ключи могут быть переданы и раньше.</p>

  <p>Эти моменты можно прописать в <%= link_to "предварительном ДКП.", pre_sales_contract_path, {:class => 'text-decoration-underline me-3 py-2 text-dark'} %></p>
  <p>И, наконец, сделку необходимо зарегистрировать в регистрационной палате.
    Выбираете удобное МФЦ и идете на регистрацию. Записаться можно как на месте
    по живой очереди, так и через интернет (понадобиться привязанная учетная запись на госуслугах).
  </p>
  <p>
    Регистрация производиться в течение 7 рабочих дней.
  </p>
</div>