<% provide(:title, "Продажа недвижимости") %>
<h1>Продажа недвижимости</h1>
<h2>Информация для тех, кто хочет самостоятельно продать недвижимость без услуг риэлтора.</h2>
<div class="border-top border-bottom">
  <h3>
    1. Оцените свою недвижимость.
  </h3>

  <p>
    Оценочные компании берут 5 предложений в Вашем районе
    на похожие параметры – количество комнат, состояние, эта и прочее. И берут
    среднюю стоимость за квадрат. Пересчитывая на вашу площадь – это и будет та
    цена, от которой необходимо отталкиваться. Советы по подбору написаны в
    <u><%= link_to "статье про осмотр объекта.", inspection_object_path, {:class => 'me-3 py-2 text-dark'} %></u>Можете ознакомиться и сделать свои выводы. И помните одно правило:
    «На рынке всегда два дурака. Один – покупает, другой –
    продает».
  </p>
  <h3>Предпродажная подготовка и фото</h3>
  <p>
    Прежде чем
    фотографировать и выгладывать объявление – уберитесь в квартире.
  </p>
  <p>
    Фото делайте так, чтобы было видно все. Каждую
    комнату следует снять с нескольких ракурсов, коридоры – с разных сторон.
    Сфотографируйте вид из окна, балкона\лоджии. Сделайте обзорную видео экскурсию
    по квартире. Многие площадки объявлений позволяют загружать в объявления видео.
    В крайнем случае, всегда такое видео можно отправить потенциальным покупателям
    через мессенджеры.
  </p>

  <p>
    Фотографии должны быть четкими, светлыми. Камер
    современного телефона вполне достаточно.
  </p>
  <h3>Описание</h3>

  <p>
    Добавьте описание. Слова «уютная, светлая, просторная»
    и прочие употребляйте, если это действительно так. Если покупатель почувствует
    несоответствие фото и описания – этот просмотр так и окажется просмотром.
  </p>

  <p>
    Укажите расстояние до остановок общественного транспорта
    или метро. Расположение социальных объектов (детский сад, школа,
    больница).Для некоторых важно, чтобы
    это было рядом, других это может раздражать (например, детский сад под окнами
    это постоянный шум в будний день).
  </p>
  <h4>Какую площадку выбрать?</h4>

  <p>
    Выкладывайте везде, где только
    можете. Avito,
    Cian,
    Domofond,
    Domclick,
    Яндекс.Недвижимость и прочие площадки с объявлениями.
  </p>
  <h4> Как
    избегать риэлторов?</h4>

  <p>
    Настоящие риэлторы Вам никогда
    не позвонят сами. Помните, что если Вам звонят по объявлению и предлагают
    услуги по продаже Вашей квартиры, то Вы смело можете отказаться. Ваше
    объявление могут скопировать и выложить на все эти площадки. Бороться с этим
    можно и нужно. Необходимо подавать жалобу на такое объявление и администрация
    сайта такое объявление удалит после предоставления Вами документов,
    подтверждающих, что это действительно Ваша квартира.
  </p>
  <p><u><%= link_to "Подробнее о подготовке объекта к продаже можно почитать здесь", presale_path, {:class => 'me-3 py-2 text-dark'} %></u></p>
</div>
<div class="border-bottom">
  <h3>2. Показ объекта</h3>

  <h4>Когда
    показывать?</h4>

  <p>Время показа,
    конечно, выбирать Вам. Его можно указать в объявлении.</p>

  <p>
    Показывайте
    квартиру, по возможности, в светлое время суток. Сама квартира или дом в это
    время кажется уютнее. Обычное человеческое восприятие.
  </p>

  <p>
    Если Вам
    позвонили и согласовали время – то не переносите просмотр. Это не в Ваших
    интересах.
  </p>

  <h4>
    Что показывать?
  </h4>

  <p>
    Показывайте
    все, рассказывайте и объясняйте. Подготовьтесь к вопросам.
    Когда делали
    ремонт, когда меняли счетчики, сколько платите за ЖКХ, какие соседи. Все это
    влияет на конечное решение.
  </p>

  <p>
    Конечно, не
    стоит говорить, что в квартире кто-то умер (во всех квартирах это может быть)
    или жаловаться на шумных соседей. Кто-то этого может не замечать, кого-то будет
    раздражать даже шорканье тапочек по полу. Люди сами увидят недостатки, если захотят.
  </p>

  <p>Но при прямых
    вопросах не стоит лукавить. Ложь не приведет Вас к сделке. Поэтому и стоит поработать над возможными
    вопросами заранее. </p>

  <h4>Что делать, если у покупателя риэлтор?</h4>

  <p>
    Часто может
    быть, что покупатель приходит со своим риэлтором. Его задача – подобрать объект
    клиенту и по возможности сбить цену. И вот здесь стоит вспомнить о собственной
    оценке и за сколько Вы готовы продать недвижимость. Торг есть всегда. И, как
    правило, продавец всегда немного скидывает цену. Это нормально. Кто-то
    изначально чуть завышает цену на эту скидку, кто-то нет.
  </p>

  <p>
    Но однозначно
    не стоит падать в цене сильнее, чем адекватная стоимость. Работа риэлтора по
    возможности сбить цену, но ему всегда заранее озвучивают цену, за которую
    готовы купить. Кто-то ставит комиссию на процент от полученной скидки. Так что
    это нормально.
  </p>

  <p>
    А вот что не
    нормально, так это если риэлтор будет требовать с Вас деньги за якобы оказанную
    услугу по продаже Вашей недвижимости. Тут стоит напомнить, что договорных
    отношений у Вас с ним нет. Ушлые риэлторы могут запугать или давить. В таком
    случае записывайте разговор и обращайтесь в полицию. Риэлторы в данном случае пытаются заработать
    двойную комиссию – и с покупателя и с продавца.
  </p>
</div>


<div class="border-bottom">
  <h3>3. Проверка покупателя</h3>
  <p>Кто-то думает, что покупателя проверять не надо. Он платит
    деньги, так какая разница что будет дальше?</p>

  <p>Но желательно действовать так же, как делают и при проверке
    продавца. Проверяйте по всем возможным направлениям. Риски при противозаконных
    действиях могут повлиять и на продавца.</p>
  <p>Сделать это можно с помощью следующих сайтов</p>
  <us>
    <div class="list-group list-group-flush">
      <a
        href="https://bankrot.fedresurs.ru/DebtorsSearch.aspx?attempt=2" class="list-group-item list-group-item-action ">Проверка на банкротство</a>

      <a
        href="https://kad.arbitr.ru/" class="list-group-item list-group-item-action">Проверка на сайте арбитражных дел</a>

      <a
        href="http://services.fms.gov.ru/info-service.htm?sid=2000" class="list-group-item list-group-item-action">Проверка
        действительности российского паспорта</a>

      <a
        href="https://fssp.gov.ru/iss/ip" class="list-group-item list-group-item-action">Проверка на сайте судебных приставов</a>
    </div>
  </us>

  <p><u><%= link_to "Подробнее о проверке покупателя", checking_buyer_path, {:class => 'me-3 py-2 text-dark'} %></u></p>
</div>
<div  class="border-bottom">
<h3>4. Предварительный договор купли-продажи и задаток</h3>
<p>
  На этом этапе все участники сделки взаимно проверены и пора
  «ударить по рукам».
</p>

<p>
  Этим «ударом» как раз служит предварительный договор
  купли-продажи (далее ДКП). В нем отображается сумма задатка (не путать с
  первоначальным взносом), все отношения - когда будут совершены те или иные
  действия (снятия с регистрации зарегистрированных, передача ключей, примерные
  даты сделки), будут описана вся техника и мебель, которая останется в квартире.
  На словах можно пообещать съехать или выписаться в течение месяца, а в итоге
  тянуть полгода. Или обещать оставить ту или иную технику, но при передаче
  ключей квартира будет с голыми стенами. Сейчас именно тот момент, где надо расставить
  все точки над i
</p>
<p><u><%= link_to "Подробнее о предварительном договоре купли-продажи", pre_sales_contract_path, {:class => 'me-3 py-2 text-dark'} %></u></p>
</div>
<div>
  <h3>5. Договор купли-продажи и регистрационная палата</h3>
  <p>Финальная часть любой истории при покупке или продаже квартиры.</p>

  <p>Если сделка проходит с использованием ипотеки, то ДКП
    подготовит банк, если сделку проводите без участия банка, то шаблон ДКП можно
    скачать <%= link_to "здесь.", "https://disk.yandex.ru/i/NALQjPvGq4V9sQ", {:class => 'text-decoration-underline me-3 py-2 text-dark'} %></p>

  <p>Заполните и ознакомьтесь с договором. Лучше заранее все
    изучить, чтобы в день сделки не было сюрпризов. </p>

  <p>Напоминаем, что все платежи желательно делать через банк,
    чтобы оставить цифровой след сделки. В любом случае, после передачи денег также
    необходимо подписать <%= link_to "расписку о передаче денег.", "https://disk.yandex.ru/i/IuaXijaAGmQG9g", {:class => 'text-decoration-underline me-3 py-2 text-dark'} %></p>

  <p>Передача ключей, как правило, происходит после регистрации
    сделки в регистрационной палате. Однако на усмотрение
    продавца ключи могут быть переданы и раньше.</p>

  <p>Эти моменты можно прописать в <%= link_to "предварительном ДКП.", pre_sales_contract_path, {:class => 'text-decoration-underline me-3 py-2 text-dark'} %></p>
  <p>И, наконец, сделку необходимо зарегистрировать в регистрационной палате.
    Выбираете удобное МФЦ и идете на регистрацию. Записаться можно как на месте
    по живой очереди, так и через интернет (понадобиться привязанная учетная запись на госуслугах).
  </p>
  <p>
    Регистрация производиться в течение 7 рабочих дней.
  </p>
</div>